.boardArea {
  z-index: 1;
  position: relative;
  height: 100%;
  overflow : hidden;
}

.boardPos {
  left: 0;
  top: 18%;
}

.imgBoard {
  @extend .boardPos;
  width: 100%;
  position: absolute;
}

.pieceArea {
  @extend .boardPos;
  position: relative;
  width: 100%;
  height: 71.2%;
}

.pieceSquareArea {
  position: absolute;
  width: 10%;
  height: 10%;
  background: rgba(0, 0, 0, 0);
}

.pointSquareArea {
  position: absolute;
}

.imgPiece {
  width: 100%;

}
.imgPieceNormal {
  @extend .imgPiece;
  margin-top: 0;
  margin-left: 0;
}

.imgPieceSelected {
  @extend .imgPiece;
  margin-top: -20%;
  margin-left: 10%;
}

.choiceNariArea {
  position: absolute;
  width: 28%;
  height: 14%;
}

.imgChoiceNari {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.choiceSquareArea {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
}

.imgChoicePiece {
  margin-top: 13%;
  width: 75%;
}

.imgChoicePieceNari {
  @extend .imgChoicePiece;
  margin-left: 5%;
}

.imgChoicePieceNarazu {
  @extend .imgChoicePiece;
  margin-left: -8%;
}